<a href="https://colab.research.google.com/github/hnhyhj/Python-study/blob/master/11_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 11
# Tuples

A tuple is a group of one or more values that are treated as a whole.

A tuple is a group of one or more values, separated by commas. Normally, tuples are written with parentheses around them, but the parentheses are not actually necessary (except
in circumstances where otherwise confusion would arise).

## 11.1 Basics of tuples

In [ ]:
t1 = ("apple", "orange")
print( type( t1 ) )
t2 = "banana", "cherry"
print( type( t2 ))

You can mix data types within tuples. You can even put tuples in tuples.

In [ ]:
t1 = ("apple", 3, 1.4)
t2 = ("apple", 3, 1.4, ("banana", 5))

To find out how many elements a tuple contains, you can use the **len()** function.

In [ ]:
t1 = ("apple", "orange")
t2 = ("apple", 3, 1.4)
t3 = ("apple", 3, 1.4, ("banana", 5))
print( len( t1 ) )
print( len( t2 ) )
print( len( t3 ) )

2
3
4

You can use a for loop to access individual elements of a tuple in sequence.

In [ ]:
t1 = ("apple", 3, 1.4, ("banana", 5))
for element in t1:
    print( element )

apple
3
1.4
('banana', 5)

You can also use the **max()** and **min()** functions to get the maximum respectively the minimum from a tuple of numbers. You can sum the elements of a tuple using the **sum()**
function.

In [ ]:
t1 = (327, 419, 101, 667, 925, 225)
print( max( t1 ) )
print( min( t1 ) )
print( sum( t1 ) )

You can test whether an element is part of a tuple by using the in operator.

In [ ]:
t1 = ("apple", "banana", "cherry")
print( "banana" in t1 )
print( "orange" in t1 )

## 11.2 Tuple assignments

As you have seen, you can create a tuple by assigning comma-separated values to a variable. Parentheses around it are optional. What if you want to create a tuple with only one
element?

In [ ]:
t1 = ("apple")
print( type( t1 ) )

<class 'str'>

If you run this code, you will find that t1 is of the class str, i.e., a string. Putting parentheses around the element does not work, as parentheses are optional. Python introduced
a little trick to create a tuple with only one element, and that is that you indicate that it is
a tuple by placing a comma after the value. This is rather unintuitive and I would even
say “degenerate,” but historically this was the solution that an early version of Python
introduced, and for compatibility reasons it was not changed.

In [ ]:
t1 = ("apple",)
print( type( t1 ) )
print( len( t1 ) )

<class 'tuple'>
1

Python allows you to place a tuple left of the assignment operator. This is an exception to
the rule that only one variable can be placed left of an assignment. The values at the right
side are copied one-by-one to the left side, left to right.

In [ ]:
t1, t2 = "apple", "banana"
print( t1 )
print( t2 )

You can place parentheses around the values at the right side, and/or parentheses around
the variables at the left side, which makes no difference.
If you place more variables at the left side than values at the right side, you get a runtime
error. The same for placing fewer (unless you place just one, as shown above). However,
you can create tuples at the right side by placing parentheses.

In [ ]:
t1, t2 = ("apple", "banana"), "cherry"
print( t1 )
print( t2 )

('apple', 'banana')
cherry

## 11.2 Tuple indices

ust like with strings, you can access the individual elements of a tuple using indices.
Where with strings the individual elements are characters, for tuples they are the values.
For instance:

In [ ]:
t1 = ("apple", "banana", "cherry", "durian")
print( t1[2]

You can even use slices, with the same rules as for strings (if you do not remember, check
Chapter 10 again). A slice of a tuple is another tuple. For example:

In [ ]:
t1 = ("apple", "banana", "cherry", "durian", "orange")
print( t1[1:4] )

('banana', 'cherry', 'durian')

Since tuples are indexed, an alternative for a for loop to access the individual elements of
a tuple is to loop over the indices.

In [ ]:
t1 = ("apple", "banana", "cherry", "durian", "orange")
i = 0
while i < len( t1 ):
    print( t1[i] )
    i += 1

apple
banana
cherry
durian
orange

## 11.3  Tuple comparisons

You can compare two tuples with each other by using the regular comparison operators.
These operators first compare the first two elements of the tuples. If these are different,
then the comparison will determine which one is “smaller” based on the rules for these
data types, and result in True or False. If they are equal, the second elements will be
compared, etcetera.

In [ ]:
t1 = ( "apple", "banana" )
t2 = ( "apple", "banana" )
t3 = ( "apple", "cherry" )
t4 = ( "apple", "banana", "cherry" )
print( t1 == t2 )
print( t1 < t3 )
print( t1 > t4 )
print( t3 > t4 )

True
True
False
True

## 11.4 Tuple return values
In Chapter 8, you learned that functions can return multiple values. If you code something
like that, what actually happens is that the function is returning a tuple. To deal with such
return values, you assign them to variables as explained under “tuple assignments” above.

## 11.5 Tuples are immutable
Just like strings, tuples are immutable. This means that you cannot assign a new value to
one element of a tuple. The example below will produce a runtime error when run.

In [ ]:
t1 = ("apple", "banana", "cherry", "durian")
t1[0] = "orange

SyntaxError: ignored

## 11.6 Applications of tuples

Tuples are not used often in Python code (except as return values of functions). A logical
application of tuples would be to deal with values that always occur in small collections.
However, object orientation (Chapter 20 and further) offers many tools and techniques to
deal with such small collections, which means that programmers usually revert to object
orientation when they need something like that.

For the moment, here is an example of the use of tuples in an application. Suppose that
you have to write a program that deals with geometric figures in 2-dimensional space. A
concept that you need is that of a point: a location in 2D space that is identified by two
coordinates. Rather than write functions that always require a separate X-coordinate and
a separate Y-coordinate, you can specify that coordinates are always communicated in the
form of tuples.

In [ ]:
from math import sqrt
# Returns the distance between two points in 2-dimensional space.
# The points are the parameters of the function; each point is a
# tuple of two numeric values.
def distance( p1, p2 ):
    return sqrt( (p1[0] - p2[0]) **2 + (p1[1] - p2[1]) **2 )

point1 = (1,2)
point2 = (5,5)
print( "Distance between", point1 , "and", point2 , "is", distance( point1 , point2 ) )

Distance between (1, 2) and (5, 5) is 5.0

## 11.7 Why tuples?