<a href="https://colab.research.google.com/github/hnhyhj/Python-study/blob/master/14_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 14
# Set

Sets are unordered data structures, which contain only unique elements. Few programming languages support sets natively, but Python is one of them. Sets are not used often,
but occasionally they provide a nice solution to a problem that you are trying to solve,
when you need to ensure that you only have unique solution items.

## 14.1 Basics of sets
Sets are unordered collections of elements. You cannot access specific elements using an
index or a key. The only way to access items in a set is by using a **for** loop, or by testing
for the existence of elements **in** the set using the in operator.

You have to think of sets in the mathematical sense. In mathematics, a set is a collection of
elements, all unique, and elements can be part of a specific set, or not part of the set. You
use special set operators to combine sets in different ways.

Python uses dictionaries to implement sets; specifically, it implements the elements of a set
as dictionary keys. Thus, only immutable data types can be set elements. Sets themselves,
however, are mutable.

Since Python uses dictionaries to implement sets, you might think that you can create an
empty set by assigning {} to a variable. That, however, does not work as it creates an
empty dictionary, not an empty set. Instead, you create an empty set by assigning a call to
the function **set( )** to a variable.

To create a set with some elements already in it, you can assign the elements to the variable
between curly brackets. Alternatively, you can call the **set( )** function with a list of the
elements as argument.

In [2]:
fruitset = { "apple", "banana", "cherry" }
print( type(fruitset) )
print(fruitset)

<class 'set'>
{'banana', 'cherry', 'apple'}

If you want to create a set consisting of the different characters in a string, you can call
**set()** with the string as argument.

In [4]:
helloset = set("hello world")
print( helloset )

{' ', 'w', 'e', 'o', 'l', 'r', 'h', 'd'}

You can use a **for** loop to traverse a set. The variable in the **for** loop gets access to all the
set elements. There is no way to determine in which order you get to see the elements.
Sorting them is not possible as long as they form a set. You can, however, use list casting
on a set to create a list of its elements, which can then be sorted.

In [6]:
fruitset = { "apple", "banana", "cherry", "durian", "mango" }

for element in fruitset:
    print(element, end= " " )
print()

fruitlist = list( fruitset )
fruitlist.sort()

for element in fruitlist:
    print(element, end=" " )

banana cherry mango apple durian
apple banana cherry durian mango

You can determine the number of elements in a set using the **len()** function.

In [7]:
print(len(fruitset))

5

## 14.2 Set methods
To manipulate the contents of sets, the following methods are supported. This is not a
complete list of set methods, but these are the most common ones.

### 14.2.1 add( ) and update( )

Adding new items to a set you can do using the add( ) method, to add one new element that
you provide as an argument. If you want to add multiple new elements at once, you can
use the update( ) method, which you provide with a list of the new elements as argument.

You can also use update( ) with a tuple as argument, and you can even use it with a string
as argument. If you use it with a string, it will consider each letter of the string as a separate
element to add.

Since sets can only contain unique elements, any duplicate element that you try to add will
be ignored.

In [8]:
fruitset = { "apple", "banana", "cherry", "durian", "mango" }
print( fruitset )

fruitset.add( "apple" )
fruitset.add( "elderberry" )
print( fruitset )

fruitset.update( ["apple","apple","apple","strawberry","strawberry","apple","mango"] )
print( fruitset )

{'banana', 'cherry', 'mango', 'apple', 'durian'}
{'banana', 'cherry', 'mango', 'apple', 'durian', 'elderberry'}
{'banana', 'cherry', 'strawberry', 'mango', 'apple', 'durian', 'elderberry'}

### 14.2.2 remove( ), discard( ), and clear( )
To remove elements from a set, you can use the remove( ) or discard( ) method. Both
get the element to remove as argument. The difference between the two methods is that
remove( ) will cause a runtime error if the element is not part of the set, while discard( )
will ignore such errors.

clear( ) removes all elements of the set at once.

In [15]:
fruitset = { "apple", "banana", "cherry", "durian", "mango" }
print( fruitset )

fruitset.remove( "apple" )
print( fruitset )

# fruitset.remove( "apple" )
fruitset.discard( "apple" )

{'banana', 'cherry', 'mango', 'apple', 'durian'}
{'banana', 'cherry', 'mango', 'durian'}

In [16]:
fruitset.clear()
print(fruitset)

set()

### 14.2.3 pop( )
Calling the pop( ) method will remove an element from the set and return it. You cannot
predict which element will be removed, as sets are unordered.

In [ ]:
fruitset = { "apple", "banana", "cherry", "durian", "mango" }
while len( fruitset ) > 0:
    print( fruitset.pop() )

### 14.2.4 copy( )
Just like lists and dictionaries, if you assign a variable that contains a set to another variable, you are creating an alias. Like with dictionaries (and probably because sets are implemented as dictionaries), you use the method copy( ) to create a copy of a set.

### 14.2.5 union( )
The union of two sets is a set which contains elements of both of them. You can use the
union( ) method for one set, with as argument a second set, to return the union of both sets
involved. This does not change the sets themselves. Alternatively, you can use the special
operator **|** (pipeline) to create the union of two sets. 

Note: you might suspect that you can
also use the + operator to combine two sets, but + is not defined for sets, and neither is ∗.

In [21]:
fruit1 = { "apple", "banana", "cherry" }
fruit2 = { "banana", "cherry", "durian" }
fruitunion = fruit1.union( fruit2 )
print( fruitunion )

fruitunion = fruit1 | fruit2
print( fruitunion )

{'banana', 'cherry', 'apple', 'durian'}
{'banana', 'cherry', 'apple', 'durian'}

### 14.2.6 intersection( )
The intersection of two sets is a set which contains only the elements that they both have.
You can use the intersection( ) method for one set, with as argument a second set, to
return the intersection of the sets involved. This does not change the sets themselves.
Alternatively, you can use the special operator **&** (ampersand) to create the intersection of
two sets.

In [22]:
fruit1 = { "apple", "banana", "cherry" }
fruit2 = { "banana", "cherry", "durian" }
fruitintersection = fruit1.intersection( fruit2 )
print( fruitintersection )

fruitintersection = fruit1 & fruit2
print( fruitintersection )

{'banana', 'cherry'}
{'banana', 'cherry'}

### 14.2.7 difference( )
The difference of two sets is a set which contains only the elements that the first set has
that are not also in the second set. You can use the difference( ) method for one set, with
as argument a second set, to return the difference whereby the elements of the argument
set are removed from the first set. This does not change the sets themselves. Alternatively,
you can use the special operator **-** (minus) to create the difference of two sets.

In [23]:
fruit1 = { "apple", "banana", "cherry" }
fruit2 = { "banana", "cherry", "durian" }
fruitdifference = fruit1.difference( fruit2 )
print( fruitdifference )

fruitdifference = fruit1 - fruit2
print( fruitdifference )

fruitdifference = fruit2 - fruit1
print( fruitdifference )

{'apple'}
{'apple'}
{'durian'}

### 14.2.8 isdisjoint( ), issubset( ), and issuperset( )
The methods isdisjoint( ), issubset( ), and issuperset( ) are all called as methods of
one set, with a second set as argument. All return True or False. isdisjoint( ) returns
True if the two sets share no elements. issubset( ) returns True if all the elements of the
first set are also found in the argument set. issuperset( ) returns True if all the elements
of the argument set are also found in the first set. Note that a set is both a subset and a
superset of itself.

In [24]:
fruit1 = { "apple", "banana", "cherry" }
fruit2 = { "banana", "cherry" }

print( fruit1.isdisjoint( fruit2 ) )
print( fruit1.issubset( fruit2 ) )
print( fruit2.issubset( fruit1 ) )
print( fruit1.issubset( fruit1 ) )
print( fruit1.issuperset( fruit2 ) )
print( fruit2.issuperset( fruit1 ) )
print( fruit1.issuperset( fruit1 ) )

False
False
True
True
True
False
True